@font-face {
    font-family: bob;
    src: url(../font/KrabbyPatty.ttf);
 }

 @font-face {
    font-family: bob2;
    src: url(../font/freckle-face-regular.ttf);
 }

body {
    margin: 0;
}

header {  
    width: 100%;
}

.fonte1 {
    font-family: bob;
}

.fonte2 {
    font-family: bob2;
}

#nav {
    background: linear-gradient(56deg,rgb(54, 176, 201) 0%, rgba(87, 139, 217, 1) 100%, rgba(47, 39, 204, 1) 100%);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    z-index: 10;
}

#nav li {
    list-style: none;
}

#nav p {
    font-size: 20px;
}

#direita a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#direita a:hover {
    color: aliceblue;
}

#direita {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-right: 200px;
}


#esquerda {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 60px;
    height: 60px;
    background-image: url(../img/bob.jpg);
    background-size: cover;
    background-position: 79px;
    border-radius: 30px;
}


/* Conteúdo */
#conteudo {
    background-image: url(../img/backgroundBob.png);
    background-size: cover;
    background-size: 100%;
    height: 866px;
}

#container {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgb(66, 66, 66);
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 700px;
    width: 600px;
    background-color: white;
    background-size: cover;
    background: center;
    background-size: cover;
    background-image: url(../img/backgroundFlores.jpeg);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 1;
}

#cadastro{
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 695px;
    width: 600px;
    background-color: white;
    border-color: rgb(243, 243, 243);
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
}

/* Footer */
#footer {
    background-image: url(../img/backgroundAreia.png);
    background-size: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#footer p {
    font-family: Arial, Helvetica, sans-serif;
}