@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: bob;
    src: url(../font/KrabbyPatty.ttf);
}

@font-face {
    font-family: bob2;
    src: url(../font/freckle-face-regular.ttf);
}

.fonte1 {
    font-family: bob;
}

.fonte2 {
    font-family: bob2;
}

* {
    margin: 0;
}

#nav {
    background: linear-gradient(56deg, rgb(54, 176, 201) 0%, rgba(87, 139, 217, 1) 100%, rgba(47, 39, 204, 1) 100%);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px black;
    z-index: 10;
    height: 8%;
}

#nav li {
    list-style: none;
}

#nav p {
    font-size: 20px;
}

#direita {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-right: 200px;
}

#direita a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#direita a:hover {
    color: rgb(201, 202, 202);
}

#esquerda {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1vh;
}

#logo {
    width: 5vh;
    height: 5vh;
    background-image: url(../img/bob.jpg);
    background-size: cover;
    background-position: 64px;
    border-radius: 30px;
    margin-right: 1vh;
}

#nomeUsuario {
    font-family: 'Bob';
    font-size: 2vh;
    margin-top: 0.5vh;
}

#nomeUsuario a {
    text-decoration: none;
    color: white;

}

#tela {
    padding-top: 8vh;
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fafafa;
}

#kpis {
    width: 100%;
    height: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tituloTexto {
    font-family: 'Poppins';
    font-size: 2vh;
    margin-left: 2vh;
    margin-top: auto;
    margin-bottom: auto;
}

.subtitulo {

    font-family: 'Poppins';
    font-size: 2vh;
    margin-left: 2vh;
    margin-top: 1vh;

}

#secaoQuiz {

    width: 48%;
    height: 98%;
    background-color: #fefeff;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15);
}

#taxaAcertos {
    font-family: 'Poppins';
    font-size: 7vh;
    text-align: center;
    margin-top: 1.5vh;
}

#vezesQuiz {
    font-family: 'Poppins';
    font-size: 7vh;
    text-align: center;
    margin-top: 1.5vh;
}

#melhorResultado {
    font-family: 'Poppins';
    font-size: 7vh;
    text-align: center;
    margin-top: 1.5vh;
}

#secaoMinigame {

    width: 48%;
    height: 98%;
    background-color: #fefeff;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15);


}

#partidasJogadas {
    font-family: 'Poppins';
    font-size: 7vh;
    text-align: center;
    margin-top: 1.5vh;
}

#melhorPontuacao {
    font-family: 'Poppins';
    font-size: 7vh;
    text-align: center;
    margin-top: 1.5vh;
}

#maiorTempo {
    font-family: 'Poppins';
    font-size: 7vh;
    text-align: center;
    margin-top: 1.5vh;
}

#menorTempoQuiz {
    font-family: 'Poppins';
    font-size: 7vh;
    text-align: center;
    margin-top: 1.5vh;
}

#pontuacaoMediaMinigame {
    font-family: 'Poppins';
    font-size: 7vh;
    text-align: center;
    margin-top: 1.5vh;
}

.titulo {
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#cards {
    width: 98%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.kpi {

    color: #363636;
    width: 48%;
    height: 48%;
    border-radius: 20px;
    background-color: #fefefe;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.05);
}

#graficos {
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#divEvolucaoPessoal {

    width: 67%;
    height: 98%;
    background-color: #fefeff;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15);


}

#divGrafico {

    width: 100%;
    height: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#historicoQuiz {

    height: 85%;
    width: 48%;
    background-color: #fefefe;
    /* background-color: greenyellow; */
    border-radius: 20px;
    margin-left: 1vh;
}

#historicoMinigame {

    height: 85%;
    width: 48%;
    background-color: #fefefe;
    /* background-color: greenyellow; */
    border-radius: 20px;
    margin-left: 1vh;
}

#cardRanking {

    width: 30%;
    height: 97%;
    background-color: #fefeff;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.15);

}

#divRanking {

    height: 85%;
    width: 100%;

}

#ranking {

    width: 98%;
    height: 98%;
    border-radius: 20px;
    background-color: #fefefe;
    margin-left: 0.5vh;

}

.usuarioRank {

    text-align: center;
    font-size: 3vh;
    font-family: 'Poppins';

}

.rank1 {
    background-color: #fef3e3;
    color: #feac51;
}

.rank2 {
    background-color: #e2e2e2;
    color: #979797;
}

.rank3 {
    background-color: #d0541623;
    color: #f07527;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border-radius: 20px;
    height: 98%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.05);
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 2vh;

}

th {
    background-color: #f4f4f4;
    color: #333;

}

#selectQuiz {

    width: 30vh;
    border-radius: 5vh;
    height: 4vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vh;
    font-size: 2.2vh;
    padding-left: 1vh;

}