* {
    margin: 0;
}

#tela {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#kpis {
    width: 100%;
    height: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#secaoQuiz {

    width: 48%;
    height: 98%;
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}

#secaoMinigame {

    width: 48%;
    height: 98%;
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;


}

.titulo {
    height: 10%;
}

#cards {
    width: 98%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.kpi {

    width: 48%;
    height: 48%;
    border-radius: 20px;
    background-color: aquamarine;

}

#graficos {
    width: 100%;
    height: 44%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#divEvolucaoPessoal {

    width: 67%;
    height: 98%;
    background-color: aqua;
    border-radius: 20px;


}

#divGrafico {

    width: 98%;
    height: 90%;

}

#grafico {

    height: 98%;
    width: 99%;
    background-color: aquamarine;
    border-radius: 20px;
    margin-left: 2vh;
}

#cardRanking {

    width: 30%;
    height: 98%;
    background-color: aqua;
    border-radius: 20px;

}

#divRanking {

    height: 90%;
    width: 100%;

}

#ranking {

    width: 98%;
    height: 98%;
    border-radius: 20px;
    background-color: aquamarine;
    margin-left: 0.5vh;

}