@font-face {
    font-family: bob;
    src: url(../font/KrabbyPatty.ttf);
}

@font-face {
    font-family: bob2;
    src: url(../font/freckle-face-regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
}

.fonte1 {
    font-family: bob;
}

.fonte2 {
    font-family: bob2;
}

#nav {
    background: linear-gradient(56deg, rgb(54, 176, 201) 0%, rgba(87, 139, 217, 1) 100%, rgba(47, 39, 204, 1) 100%);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px black;
    z-index: 10;
    height: 8vh;
}

#nav li {
    list-style: none;
}

#nav p {
    font-size: 20px;
}

#direita a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#direita a:hover {
    color: rgb(201, 202, 202);
}

#direita {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-right: 200px;
}


#esquerda {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 5vh;
    height: 5vh;
    background-image: url(../img/bob.jpg);
    background-size: cover;
    background-position: 64px;
    border-radius: 30px;
}


/* Conteúdo */
#conteudo {
    display: flex;
    align-items: center;
    background-image: url(../img/backgroundBob.png);
    background-size: cover;
    background-size: 100%;
    height: 94vh;
}

#container {
    display: flex;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    padding-top: 60px;
    margin-left: auto;
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 80vh;
    width: 600px;
    background-color: white;
    background-size: cover;
    background: center;
    background-size: cover;
    background-image: url(../img/backgroundAzul.jpeg);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 1;
    box-shadow: 1px 1px 4px rgb(66, 66, 66);
}


#card b {
    font-size: 65px;
    color: rgb(219, 219, 79);
    text-shadow: black -4px 6px 1px;
}

#card button {
    font-size: 35px;
    border-radius: 30px;
    border: none;
    background-color: white;
    z-index: 1;
    cursor: pointer;
    width: 250px;
    height: 50px;
}

#card button:hover {
    background-color: aliceblue;
}

#login {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 600px;
    background-color: white;
    border-color: rgb(243, 243, 243);
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
    box-shadow: 1px 1px 4px rgb(66, 66, 66);
    box-sizing: border-box;
}

#headerLogin {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

#login label {
    padding-top: 40px;
}

#login label p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin-bottom: 2px;
}

#login label input {
    width: 350px;
    height: 25px;
    background-color: rgb(233, 233, 233);
    border-color: rgb(214, 214, 214);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    font-size: 15px;
}

#lembre {
    align-self: flex-start;
    padding-left: 118px;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: end;
}

#login button {
    margin-top: 30px;
    border-style: none;
    background: linear-gradient(90deg, rgba(54, 176, 201, 1) 0%, rgba(0, 197, 204, 1) 100%);
    width: 300px;
    height: 35px;
    border-radius: 25px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

#login button:hover {
    background: rgb(54, 176, 201);

}


/* Footer */
#footer {
    background-image: url(../img/backgroundAreia.png);
    background-size: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    font-size: 1.5vh;   
}

#footer p {
    font-family: Arial, Helvetica, sans-serif;
}