@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: bob;
    src: url(../font/KrabbyPatty.ttf);
}

@font-face {
    font-family: bob2;
    src: url(../font/freckle-face-regular.ttf);
}

body {
    margin: 0;
}

.fonte1 {
    font-family: bob;
}

.fonte2 {
    font-family: bob2;
}

#nav {
    background: linear-gradient(56deg, rgb(54, 176, 201) 0%, rgba(87, 139, 217, 1) 100%, rgba(47, 39, 204, 1) 100%);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px black;
    z-index: 10;
    height: 8vh;
}

#nav li {
    list-style: none;
}

#nav p {
    font-size: 20px;
}

#direita {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 200px;
}

#direita a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

#direita a:hover {
    color: rgb(201, 202, 202);
}

#esquerda {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1vh;
}

#logo {
    width: 5vh;
    height: 5vh;
    background-image: url(../img/bob.jpg);
    background-size: cover;
    background-position: 64px;
    border-radius: 30px;
    margin-right: 1vh;
}

/* Conteúdo */
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/backgroundBob.png);
    background-size: 100%;
    height: 94vh;
}

#conteudo {

    width: 100vh;
    height: 60vh;
    background-color: white;
    border-radius: 2vh;
    display: flex;
    padding: 2vh;
    align-items: center;
    flex-direction: column;
    box-shadow: 0.5px 0px 3px black;
    background-size: cover;
    z-index: 1;
}

#texto {

    font-family: 'Poppins';
    font-size: 2vh;
    text-align: center;
    margin-top: 2vh;
}

#foto {

    border: 2px black solid;
    width: 30vh;
    height: 30vh;
    box-sizing: border-box;
    border-radius: 2vh;
    background-image: url('../img/eu.jpg');
    background-size: cover;

}

#flores1 {

    position: absolute;
    width: 100px;
    left: 57vh;
    bottom: 68vh;
}

#flores2 {

    position: absolute;
    width: 100px;
    bottom: 68vh;
    right: 57vh;
    transform: rotate(180deg);
}

#bobCorrendo {

    width: 100px;
    position: absolute;
    top: 73vh;
    left: 60vh;

}


/* Footer */
#footer {
    background-image: url(../img/backgroundAreia.png);
    background-size: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    font-size: 1.5vh;
}